
   .headerwrapper   a{text-decoration:none; color:#a1c057;}
   .headerwrapper  :hover{background:#a1c057; border-radius:5px; color:#FFF; transition:all 0.5s;
   animation:rubberBand 0.9s; -webkit-animation:rubberBand 0.9s;text-decoration: none;}
   .headerwrapper  :hover a{color:white; }

   #main_nav_container.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #main_nav_container.navbar-shrink .logo_container {
    font-size: 1.5em;
  }
  .logo_container, .logo_container :hover, .logo_container :visited, .logo_container :active, .logo_container :link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
  